<% include ../partials/header.ejs %>
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Add new Student </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="/student/<%=student[0].id %>?_method=PUT" method="POST">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Name
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="name" id="first-name" required="required" class="form-control col-md-7 col-xs-12" value="<%= student[0].name %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Email
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="email" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12"
                                    value="<%= student[0].email %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Student ID Number</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" name="sid" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" value="<%= student[0].sid %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Phone Number </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" name="phNumber" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" value="<%= student[0].phNumber %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12"> Address </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" name="phNumber" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" value="<%= student[0].address %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12"> City </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" name="phNumber" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" value="<%= student[0].city %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12"> Area Code </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" name="phNumber" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" value="<%= student[0].areacode %>">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>